.h-sec-1{
    padding: 0 80px;
    height: 90vh;
}
.intro{
    width: 50%;
    padding-left: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.intro-content{
   padding-left: 45px;
}
.intro p{
    font-size: 20px;
}
.intro h1{
    font-size: 56px;
}
.main-img{
   width: 50%;
   display:  flex;
  justify-content: center;

}
.img-conatiner{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid #ff004f;
}
.main-img img{
    object-fit: contain;
    height: 500px;
    width: 500px;
    transition: 0.5s;
    -webkit-user-drag: none;
    cursor: pointer;
}
.main-img img:hover{
    scale: 1.1;
}
.h-sec-2{
    background-color: #1C1E23;
    flex-wrap: wrap;
    gap: 16px;
    padding: 3rem;
}
.card{
    display: block;
    width: 300px;
    background-color: #151F32;
    padding: 12px;
    height: 180px;
    border-radius: 16px;
    position: relative;
}
.card h2{
    font-size: 24px;
    color: #ff004f;
}
.card::after{
    content: '';
    position: absolute;
    height: 0;
    width: 300px;
    background: #ff004f;
    border-radius: 16px;
   left: 0;
   bottom: 0;
   transition: 0.5s;
   z-index: 1;
}
.card:hover h2{
    color: white;

}
.card:hover::after{
 height: 180px;
}
.card-content{
    position: absolute;
    z-index:3;
    background: transparent;
}
.card-content p{
  color: #B0C3D6;
  text-align: center;
 font-weight: 600;
}
.h-sec-3{
    height: 100vh;
    padding: 80px;
    font-size: 20px;
}
.contect-details{
    width: 50%;
    align-self: flex-start;
    padding: 16px;
}
.contect-details h4{
    color: #5b5c5e;
    padding: 16px 0;
}
.contect-details p{
    font-size: 16px;
    margin: 16px 0;
}
.contect-details h1{
    font-size: 48px;
}
.contect-form{
    width: 50%;
}
.contect-form input, .contect-form textarea{
    width: 100%;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    padding: 10px;
    margin: 8px 0 20px 0;
    height: 40px;
    background-color: #151F32;
    color: white;
    outline: none;
    border: none;
    border-radius: 8px;
}
.contect-form textarea{
     min-height: 200px;
     max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}
.social{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.fb-icon, .insta-icon, .tw-icon{
    height: 60px;
    width: 60px;
    /* align-items: center; */
    fill: white;
    cursor: pointer;
    border: 2px solid #ff004f;
    padding: 8px;
    border-radius: 50%;
}

